# macOS
.DS_Store

# Runtime persistence
persistent-data/

# Backups
/backups/
*.tar.gz

# Vagrant
.vagrant/

# Terraform
*.tfstate
*.tfstate.*
.terraform/

# Ansible
*.retry

# Logs
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# SSH Keys
*.pem
*.key
id_rsa
id_ed25519
